<section>
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-8">
                <h2 class="text-center mb-2">Add Product</h2>
                {{#if message}}
                <div class="alert alert-success" role="alert">
                    {{message}}
                </div>
                {{/if}}

                <form action="/admin/add-product" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="titleInput" class="form-label">Name:</label>
                        <input type="text" class="form-control" name="name" id="titleInput"
                            placeholder="Enter Product Name">
                    </div>
                    <div class="mb-3">
                        <label for="categoryInput" class="form-label">Category:</label>
                        <input type="text" class="form-control" name="category" id="categoryInput"
                            placeholder="Enter Product Category">
                    </div>
                    <div class="mb-3">
                        <label for="descriptionInput" class="form-label">Description:</label>
                        <input type="text" class="form-control" name="description" id="descriptionInput"
                            placeholder="Enter Product Description">
                    </div>
                    <div class="mb-3">
                        <label for="priceInput" class="form-label">Price:</label>
                        <input type="number" class="form-control" name="price" id="priceInput"
                            placeholder="Enter Product price">
                    </div>
                    <div class="mb-3">
                        <label for="imageFile" class="form-label">Image:</label>
                        <img src="" alt="" height="100px" class="m-2" id="imageView">
                        <input class="form-control" type="file" name="image" id="imageFile" accept=""
                            onchange="viewImage(event)">
                    </div>
                    <button class="btn btn-success float-end mt-3" type="submit">
                        Add product
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>