<section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 bg-light m-auto p-5">
                <h2 class="text-center mb-3">Admin Login</h2>
                {{#if loginErr}}
                <div class="alert alert-danger" role="alert">
                    {{loginErr}}
                </div>
                {{/if}}

                <form action="/admin/login" method="post">
                    <div class="mb-3">
                        <label for="nameInput" class="form-label">Admin Name</label>
                        <input type="text" class="form-control" id="nameInput" name="name"
                            placeholder="Enter your admin name" value="Shopping Cart">
                    </div>
                    <div class="mb-3">
                        <label for="emailInput" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="emailInput" name="email"
                            placeholder="Enter your email" value="shoppingcart100@gmail.com">
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="inputPassword"
                            placeholder="Enter password here" value="123456789">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="showPasswordCheck"
                            onclick="togglePassword()">
                        <label class="form-check-label" for="showPasswordCheck">Show Password</label>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary float-end">
                            Login
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    function togglePassword() {
    var passwordInput = document.getElementById('inputPassword');
    if (passwordInput.type === 'password') {
        passwordInput.type = 'text';
    } else {
        passwordInput.type = 'password';
    }
}
</script>