<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/admin"><strong>Admin Panel</strong></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/admin">All Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/all-orders">All Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/all-users">All Users</a>
                    </li>
                </ul>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{#if admin}}
                        {{admin.name}}
                        {{else}}
                        Account
                        {{/if}}
                    </button>
                    <ul class="dropdown-menu" style="min-width: auto; width:100%;">
                        {{#if admin}}
                        <li><a class="dropdown-item" href="/admin/profile">Profile</a></li>
                        <li><a class="dropdown-item" href="/admin/logout">Logout</a></li>
                        {{else}}
                        <li><a class="dropdown-item" href="/admin/login">Login</a></li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>

<style>
    .navbar {
        background-color: #ffffff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .navbar-brand {
        color: #333333;
    }

    .navbar-nav .nav-link {
        color: #333333;
    }

    .dropdown-menu {
        background-color: #ffffff;
    }

    .dropdown-item {
        color: #1f1a1a;
    }

    .dropdown-item:hover {
        background-color: #e7dfdf;
    }
</style>