<footer class="bg-light text-dark mt-5 pt-4 pb-2">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-12 mb-4">
                <a class="d-flex mb-3" href="/" style="text-decoration: none;">
                    <img src="/images/icons/cart-shopping-solid.svg" alt="logo" style="height: 40px;">
                    <h2 class="mb-4 ms-3 text-dark">Shopping Cart</h2>
                </a>
                <h5 class="mb-3">
                    Welcome to Shopping Cart!!
                </h5>
                <p>
                    Shopping Cart makes online shopping effortless with our intuitive and secure cart system. Browse a
                    wide
                    range of products, enjoy real-time updates, and checkout with ease.<br>Track your orders and get
                    personalized recommendations all in one place.<br> Shop smarter, not harder, with Shopping Cart.
                </p>
            </div>
            <div class="col-md-4 col-12">
                <h5 class="mb-3">Contact Us</h5>
                <ul class="list-unstyled">
                    <li><i class="bi bi-house-door"></i> 123 Main Street, Kochi</li>
                    <li><i class="bi bi-envelope"></i> shoppingcart120@gmail.com</li>
                    <li><i class="bi bi-phone"></i> +91 9875478585</li>
                </ul>
                <div class="mt-5 mb-3 fs-4 social">
                    <a href="#" class="me-2">
                        <i class="fa-brands fa-facebook text-black"></i>
                    </a>
                    <a href="#" class="me-2">
                        <i class="fa-brands fa-instagram text-black"></i>
                    </a>
                    <a href="#" class="me-2">
                        <i class="fa-brands fa-twitter text-black"></i>
                    </a>
                    <a href="#" class="">
                        <i class="fa-brands fa-github text-black"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <hr>
            <div class="col-12 text-center mt-4">
                <p class="mb-0">&copy; 2024 Shopping Cart. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
<style>
    @media (max-width: 768px) {
        footer .col-12 {
            text-align: center;
        }
    }

    .social a {
        text-decoration: none;
    }
</style>