<section>
    <div class="container">
        <div class="row">
            <table class="table table-bordered mt-5">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Item</th>
                        <th scope="col">Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each products}}
                    <tr>
                        <th scope="row">{{increment @index}}</th>
                        <td><img src="{{this.image}}" alt="" width="100px" height="auto"></td>
                        <td>{{this.name}}</td>
                        <td>
                            <button class="btn btn-secondary me-3">-</button>
                            0
                            <button class="btn btn-secondary ms-3">+</button>
                        </td>
                        <td>RS: {{this.price}}</td>
                        <td>
                            <a href="" class="btn btn-danger">Remove</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</section>
