<section>
    <div class="container mt-5 mb-5">
        <div class="row bg-light">
            <div class="col-md-12 text-center mt-5 mb-5">
                <h1 class="text-success mb-4">Order Placed Successfully!</h1>
                <p class="mb-2 fs-5">Thank you for your purchase.</p>
                <p class="mb-2 fs-5"> Your order has been placed successfully.</p>
                <p class="mb-5 fs-5">Thank you for shopping with us.</p>

                <div class="text-center">
                    <a href="/view-orders" class="btn btn-success mt-3 me-3">View Your Orders</a>
                    <a href="/" class="btn btn-danger mt-3">Continue Shopping</a>
                </div>

            </div>
        </div>
    </div>
</section>