<section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center mb-3">Enter Delivery Details</h2>
            </div>
            <div class="col-md-6 mt-4 mb-5 me-4">
                <form id="checkout-form" action="" class="mb-3">
                    <div class="col-md-12 mb-3">
                        <label for="inputAddress" class="form-label">Address</label>
                        <input type="text" class="form-control" name="address" id="inputAddress"
                            placeholder="Enter your address" value="143, ABC Street, XYZ Nagar">
                        <div class="invalid-feedback">Please enter a valid address.</div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="inputCity" class="form-label">Address</label>
                        <input type="text" class="form-control" name="city" id="inputCity"
                            placeholder="Enter your city" value="Kochi">
                        <div class="invalid-feedback">Please enter a valid city.</div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="inputState" class="form-label">State</label>
                        <input type="text" class="form-control" name="state" id="inputState"
                            placeholder="Enter your state" value="Kerala">
                        <div class="invalid-feedback">Please enter a valid state.</div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="inputPincode" class="form-label">Pincode</label>
                        <input type="number" class="form-control" name="pincode" id="inputPincode"
                            placeholder="Enter pincode" value="682001">
                        <div class="invalid-feedback">Please enter a valid pincode.</div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="inputMobile" class="form-label">Mobile No</label>
                        <input type="number" class="form-control" name="mobile" id="inputMobile"
                            placeholder="Enter your mobile no" value="9876543210">
                        <div class="invalid-feedback">Please enter a valid mobile number.</div>
                    </div>
                    <div class="mb-3">
                        <label hidden>UserId</label>
                        <input type="text" class="form-control" name="userId" id=""
                            placeholder="" value="{{user._id}}" hidden>
                    </div>
            </div>
            <div class="col-md-5 mt-4 mb-3">
                <div class="border p-5">
                    <h4>Total Amount : Rs {{totalPrice}}</h4>
                    <hr>
                    <h5 class="mb-3">Payment method</h5>

                    <div class="form-check mb-3">
                        <input class="form-check-input" type="radio" name="payment-method" id="codRadioBtn" value="COD">
                        <label class="form-check-label" for="codRadioBtn">
                            Cash on Delivery
                        </label>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="radio" name="payment-method" id="onlineRadioBtn"
                            value="ONLINE">
                        <label class="form-check-label" for="onlineRadioBtn">
                            Online payment
                        </label>
                        <div class="invalid-feedback">Please select a payment method.</div>
                    </div>
                    <div class="row">
                        <button class="btn btn-success m-auto" type="submit">Checkout</button>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</section>