<section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center mb-3">Enter Delivery Details</h2>
            </div>
            <div class="col-md-6 mt-4 mb-5 me-4 bg-light p-4">
                <form id="checkout-form" class="mb-3 needs-validation" novalidate>
                    <div class="col-md-12 mb-3" hidden>
                        <label for="inputName" class="form-label">Name</label>
                        <input type="text" class="form-control" name="name" id="inputName" placeholder="Enter your name"
                            value="{{user.name}}">
                        <div class="invalid-feedback">Please enter a valid name.</div>
                    </div>
                    <div class="col-md-12 mb-3" hidden>
                        <label for="inputEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" name="email" id="inputEmail"
                            placeholder="Enter your email" value="{{user.email}}">
                        <div class="invalid-feedback">Please enter a valid email.</div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="inputAddress" class="form-label">Address</label>
                        <input type="text" class="form-control" name="address" id="inputAddress"
                            placeholder="Enter your address" value="143, ABC Street, XYZ Nagar">
                        <div class="invalid-feedback">Please enter a valid address.</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="inputCity" class="form-label">City</label>
                            <input type="text" class="form-control" name="city" id="inputCity"
                                placeholder="Enter your city" value="Kochi">
                            <div class="invalid-feedback">Please enter a valid city.</div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="inputPincode" class="form-label">Pincode</label>
                            <input type="number" class="form-control" name="pincode" id="inputPincode"
                                placeholder="Enter pincode" value="682001">
                            <div class="invalid-feedback">Please enter a valid pincode.</div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="inputState" class="form-label">State</label>
                            <input type="text" class="form-control" name="state" id="inputState"
                                placeholder="Enter your state" value="Kerala">
                            <div class="invalid-feedback">Please enter a valid state.</div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="inputCountry" class="form-label">Country</label>
                            <input type="text" class="form-control" name="country" id="inputCountry"
                                placeholder="Enter your country" value="India">
                            <div class="invalid-feedback">Please enter a valid country.</div>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="inputMobile" class="form-label">Mobile No</label>
                        <input type="tel" class="form-control" name="mobile" id="inputMobile"
                            placeholder="Enter your mobile no" value="9876543210">
                        <div class="invalid-feedback">Please enter a valid mobile number.</div>
                    </div>
                    <div class="col-md-12 mb-3" hidden>
                        <label>UserId</label>
                        <input type="text" class="form-control" name="userId" id="" placeholder="" value="{{user._id}}">
                    </div>
            </div>
            <div class="col-md-5 mt-4 mb-3">
                <div class="border p-5 bg-light">
                    <h5 class="">Total Amount : ₹ {{totalPrice}}</h5>
                    <hr>
                    <h5 class="mb-3">Payment method</h5>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="payment-method" id="codRadioBtn" value="COD">
                        <label class="form-check-label" for="codRadioBtn">
                            Cash on Delivery
                        </label>
                        <div class="invalid-feedback">Please select a payment method.</div>
                    </div>
                    {{!-- <div class="form-check mb-3">
                        <input class="form-check-input" type="radio" name="payment-method" id="onlineRadioBtn"
                            value="ONLINE">
                        <label class="form-check-label" for="onlineRadioBtn">
                            Online payment
                        </label>
                        <div class="invalid-feedback">Please select a payment method.</div>
                    </div> --}}
                    <div class="row mt-5">
                        <button class="btn btn-success m-auto" type="submit">Checkout</button>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</section>

<script>
    document.getElementById('checkout-form').addEventListener('submit', function (event) {
        event.preventDefault();

        const fields = ['inputName', 'inputEmail', 'inputAddress', 'inputState', 'inputCity', 'inputCountry', 'inputPincode', 'inputMobile'];
        const paymentMethod = document.querySelector('input[name="payment-method"]:checked');
        let isValid = true;

        fields.forEach(field => {
            const input = document.getElementById(field);
            if (input.value.trim() === '') {
                input.classList.add('is-invalid');
                isValid = false;
            } else {
                input.classList.remove('is-invalid');
            }
        });

        if (!paymentMethod) {
            document.getElementById('codRadioBtn').classList.add('is-invalid');
            {{!-- document.getElementById('onlineRadioBtn').classList.add('is-invalid'); --}}
            isValid = false;
        } else {
            document.getElementById('codRadioBtn').classList.remove('is-invalid');
            {{!-- document.getElementById('onlineRadioBtn').classList.remove('is-invalid'); --}}
        }

        if (isValid) {
            $.ajax({
                url: '/place-order',
                method: 'post',
                data: $('#checkout-form').serialize(),
                success: ((response) => {
                    if (response.status) {
                        Swal.fire({
                            title: 'Success',
                            text: response.message,
                            icon: 'success',
                            timer: 2000,
                            showConfirmButton: true
                        }).then(() => {
                            window.location = '/order-success'
                        });
                    } else {
                        Swal.fire({
                            title: 'Error',
                            text: response.message,
                            icon: 'error',
                            timer: 2000,
                            showConfirmButton: true
                        })
                    }
                })
            });
        }
    });
</script>